*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "SharpSansBook", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

svg {
  display: block; }

a {
  text-decoration: none; }

@media print {
  .header,
  .footer {
    display: none; } }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

p {
  margin-bottom: 20px; }

h1 {
  font-family: "TiemposHeadline", Georgia, sans-serif;
  font-size: 40px;
  line-height: 47px; }

h2 {
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 33px; }

h3 {
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase; }

@font-face {
  font-family: SharpSansBook;
  src: url("../fonts/SharpSansDisplayNo1-Book.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Book.woff") format("woff"); }
@font-face {
  font-family: SharpSansBookItalic;
  src: url("../fonts/SharpSansDisplayNo1-BookItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-BookItalic.woff") format("woff"); }
@font-face {
  font-family: SharpSansBold;
  src: url("../fonts/SharpSansDisplayNo1-Bold.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Bold.woff") format("woff"); }
@font-face {
  font-family: SharpSansBoldItalic;
  src: url("../fonts/SharpSansDisplayNo1-BoldItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: SharpSansSemibold;
  src: url("../fonts/SharpSansDisplayNo1-Semibold.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Semibold.woff") format("woff"); }
@font-face {
  font-family: SharpSansSemiboldItalic;
  src: url("../fonts/SharpSansDisplayNo1-SemiboldItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-SemiboldItalic.woff") format("woff"); }
@font-face {
  font-family: TiemposHeadline;
  src: url("../fonts/TiemposHeadline-Black.woff2") format("woff2"), url("../fonts/TiemposHeadline-Black.woff") format("woff"); }
@font-face {
  font-family: TiemposText;
  src: url("../fonts/TiemposText-Regular.woff2") format("woff2"), url("../fonts/TiemposText-Regular.woff") format("woff"); }
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }

.header__container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center; }
.header__tagline {
  font-weight: 600;
  font-size: 18px;
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #35b3a7; }
.header__logo {
  width: 318px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0; }
  .header__logo img {
    width: 318px; }
.header__right-block {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header__page-marker {
  position: relative;
  text-transform: lowercase;
  color: #ec4252;
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  margin-top: 5px;
  font-size: 18px; }
  .header__page-marker::before {
    width: 61px;
    height: 4px;
    position: absolute;
    top: -8px;
    content: '';
    background: #ec4252; }
.header__menu {
  margin-left: 60px; }
  .header__menu span {
    position: relative;
    display: block;
    width: 26px;
    height: 2px;
    background: #868686; }
    .header__menu span:not(:last-child) {
      margin-bottom: 5px; }

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 70px 0; }
  .hero h1,
  .hero p {
    color: #ebe8df;
    max-width: 100%; }
  .hero h1 {
    width: 240px;
    margin-bottom: 10px; }
  .hero p {
    width: 360px;
    font-size: 24px;
    line-height: 28px;
    font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif; }
  .hero--home {
    background-image: url("../img/banners/hero-home.png"); }

/*# sourceMappingURL=style.css.map */
