*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "SharpSansBook", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  position: relative;
  overflow: hidden;
  flex: 1; }
  .has-open-nav main:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.55);
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

svg {
  display: block; }

a {
  text-decoration: none; }

@media print {
  .header,
  .footer {
    display: none; } }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

p {
  margin-bottom: 20px; }

h1 {
  font-family: "TiemposHeadline", Georgia, sans-serif;
  font-size: 40px;
  line-height: 47px; }

h2 {
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 33px; }

h3 {
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase; }

@font-face {
  font-family: SharpSansBook;
  src: url("../fonts/SharpSansDisplayNo1-Book.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Book.woff") format("woff"); }
@font-face {
  font-family: SharpSansBookItalic;
  src: url("../fonts/SharpSansDisplayNo1-BookItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-BookItalic.woff") format("woff"); }
@font-face {
  font-family: SharpSansBold;
  src: url("../fonts/SharpSansDisplayNo1-Bold.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Bold.woff") format("woff"); }
@font-face {
  font-family: SharpSansBoldItalic;
  src: url("../fonts/SharpSansDisplayNo1-BoldItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-BoldItalic.woff") format("woff"); }
@font-face {
  font-family: SharpSansSemibold;
  src: url("../fonts/SharpSansDisplayNo1-Semibold.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-Semibold.woff") format("woff"); }
@font-face {
  font-family: SharpSansSemiboldItalic;
  src: url("../fonts/SharpSansDisplayNo1-SemiboldItalic.woff2") format("woff2"), url("../fonts/SharpSansDisplayNo1-SemiboldItalic.woff") format("woff"); }
@font-face {
  font-family: TiemposHeadline;
  src: url("../fonts/TiemposHeadline-Black.woff2") format("woff2"), url("../fonts/TiemposHeadline-Black.woff") format("woff"); }
@font-face {
  font-family: TiemposText;
  src: url("../fonts/TiemposText-Regular.woff2") format("woff2"), url("../fonts/TiemposText-Regular.woff") format("woff"); }
.btn,
a.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all ease .15s; }
  .btn:hover,
  a.btn:hover {
    opacity: .9; }
  .btn--medium,
  a.btn--medium {
    font-size: 20px;
    line-height: 25px;
    padding: 5px 20px; }
  .btn--primary,
  a.btn--primary {
    background: #35b3a7;
    color: white;
    text-transform: uppercase;
    font-family: "SharpSansBold", Helvetica, Arial, sans-serif;
    font-weight: 700; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }

.header {
  height: 75px; }
  @media screen and (min-width: 640px) {
    .header {
      height: 115px; } }
  .header__container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    align-items: center; }
    @media screen and (min-width: 640px) {
      .header__container {
        padding: 40px 0; } }
  .header__tagline {
    font-weight: 600;
    font-size: 18px;
    font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #35b3a7; }
  .header__logo {
    width: 318px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0; }
    .header__logo img {
      width: 318px; }
  .header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__page-marker {
    position: relative;
    text-transform: lowercase;
    color: #ec4252;
    font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
    margin-top: 5px;
    font-size: 18px; }
    .header__page-marker::before {
      width: 61px;
      height: 4px;
      position: absolute;
      top: -8px;
      content: '';
      background: #ec4252; }
  .header__menu-trigger {
    position: relative;
    z-index: 5000;
    margin-left: 55px;
    cursor: pointer;
    padding: 5px 0 5px 5px; }
    .header__menu-trigger span {
      position: relative;
      display: block;
      width: 26px;
      height: 2px;
      background: #868686;
      transition: all .15s ease; }
      .header__menu-trigger span:not(:last-child) {
        margin-bottom: 5px; }
    .header__menu-trigger:hover span {
      background: #535353; }
    .has-open-nav .header__menu-trigger span:nth-child(1) {
      transform: rotate(45deg);
      top: 5px; }
    .has-open-nav .header__menu-trigger span:nth-child(2) {
      display: none; }
    .has-open-nav .header__menu-trigger span:nth-child(3) {
      transform: rotate(135deg);
      bottom: 2px; }
  .header__nav {
    background: white;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 0;
    padding-top: 65px;
    display: none; }
    @media screen and (min-width: 640px) {
      .header__nav {
        top: 115px;
        padding-right: 5%;
        padding-top: 0; } }
    .has-open-nav .header__nav {
      display: block; }
      @media screen and (min-width: 640px) {
        .has-open-nav .header__nav {
          width: 45vw;
          left: 55vw; } }
      @media screen and (min-width: 1024px) {
        .has-open-nav .header__nav {
          width: 30vw;
          left: 70vw; } }
    .header__nav ul {
      padding: 0;
      margin: 0 0 20px; }
    .header__nav li {
      list-style-type: none; }
    .header__nav a {
      width: 100%;
      font-size: 22px;
      line-height: 39px;
      font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif; }
    .header__nav .header__container {
      width: 100%;
      padding: 0 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left; }
      @media screen and (min-width: 640px) {
        .header__nav .header__container {
          padding: 20px 0 20px 30px; } }
    .header__nav a.btn {
      width: 100%;
      font-weight: 700;
      font-family: "SharpSansBold", Helvetica, Arial, sans-serif; }

.footer {
  background: #330c48;
  font-size: 14px;
  line-height: 17px;
  color: #ebe8df;
  font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif;
  font-weight: 600; }
  .footer a {
    color: #ebe8df; }
  .footer__container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center; }
  .footer__address {
    width: 250px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0; }
  .footer__right-block {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__social-menu li {
    list-style-type: none;
    display: inline-block; }
  .footer__cta {
    margin-left: 30px; }

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 70px 0; }
  .hero h1,
  .hero p {
    color: #ebe8df;
    max-width: 100%; }
  .hero h1 {
    width: 240px;
    margin-bottom: 10px; }
  .hero p {
    width: 360px;
    font-size: 24px;
    line-height: 28px;
    font-family: "SharpSansSemibold", Helvetica, Arial, sans-serif; }
  .hero--home {
    background-image: url("../img/banners/hero-home.png"); }

/*# sourceMappingURL=style.css.map */
