*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, 
body {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.375;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary-color;
  // Code below for sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  position: relative;
  overflow: hidden;
  // Code below for sticky footer
  flex: 1;

  .has-open-nav & {
    &:after {
      position: absolute;
      content: '';
      background: rgba(black, .55);
      z-index: 100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

svg {
  display: block;
}

a {
	text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@media print {
  .header,
  .footer {
    display: none;
  }
}