.footer {
	background: $secondary-color;	
	font-size: 14px;
	line-height: 17px;
	color: $text-color-light;
	font-family: $sans-serif-semibold;
	font-weight: 600;

	a {
		color: $text-color-light;
	}

	@include mq(ipad, 'max-width') {
		text-align: center;
	}

	&__container {
		position: relative;
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 30px 20px;
		align-items: center;

		@include mq(desktop, 'max-width') {
			padding: 25px 20px 50px;
		}

		@include mq(ipad, 'max-width') {
			padding: 30px 20px 40px;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__copyright {
		line-height: 18px;

		@include mq(large, 'max-width') {
			width: 250px;
		}

		@include mq(desktop, 'max-width') {			
      span {
      	display: block;
      }
		}

		@include mq(ipad, 'max-width') {
      width: 100%;
      margin-bottom: 20px;
		}
	}

	&__address {
		width: 265px;
		margin: 0 auto;	
		position: absolute;
		left: 0;
		right: 0;

		@include mq(desktop, 'max-width') {
      bottom: 15px;
		}

		@include mq(ipad, 'max-width') {
			position: relative;
			width: 100%;
			bottom: auto;
			left: auto;
			right: auto;
			margin-bottom: 25px;
		}
	}

	&__right-block {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq(tablet, 'max-width') {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__social-menu {
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
			display: inline-block;
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			padding: 5px;
			font-size: 23px;

			@include mq(ipad, 'max-width') {
				font-size: 20px;
			}
		}
	}

	&__cta {
		margin-left: 30px;

		@include mq(ipad, 'max-width') {
			margin-left: 20px;

			a.btn {
				font-size: 17px;
			}
		}

		@include mq(tablet, 'max-width') {
			margin-top: 30px;
			margin-left: 0;
		}
	}
}