.header {
	$self: &;

	height: 75px;

	@include mq(ipad) {
		height: 115px;
	}

	&__container {
		position: relative;
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 22px 0;
		align-items: center;

		@include mq(ipad) {
			padding: 40px 0;
		}
	}

	&__tagline {
		font-weight: 600;
		font-size: 17px;
		font-family: $sans-serif-semibold;
		text-transform: uppercase;
		color: $primary-color;
		display: none;

		@include mq(ipad) {
			display: block;
		}

		@include mq(desktop) {
			font-size: 18px;
		}
	}

	&__logo {
		width: 195px;
		height: auto;
		margin: 0;	
		position: absolute;
		left: -17px; // account for padding within logo image
		right: auto;
		top: 14px;

		img {
			width: 195px;
		}

		@include mq(ipad) {
			width: 280px;
			margin: 0 auto;	
			position: absolute;
			left: 0;
			right: 0;
			top: auto;

			img {
				width: 280px;
			}
		}

		@include mq(desktop) {
			width: 318px;

			img {
				width: 318px;
			}
		}
	} 

	&__right-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__page-marker {
		position: relative;
		text-transform: lowercase;
		color: $tertiary-color;
		font-family: $sans-serif-semibold;
		margin-top: 5px;
		font-size: 18px;
		display: none;

		&::before {
			width: 61px;
			height: 4px;
			position: absolute;
			top: -8px;
			content: '';
			background: $tertiary-color;
		}

		@include mq(ipad) {
			display: block;
		}
	}

	&__menu-trigger {
		position: absolute;
		right: 0;
		top: 23px;
		z-index: 5000;
		margin-left: 55px;
		cursor: pointer;
		padding: 5px 0 5px 5px;

		@include mq(ipad) {
			position: relative;
			top: auto;
			right: auto;
		}

		span {
			position: relative;
      display: block;
      width: 26px;
      height: 2px;
      background: $gray-1;
      transition: all .15s ease;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
		}

		&:hover,
		&:focus {
		  span {
		  	background: darken($gray-1, 20%);
		  }
		}

		.has-open-nav & {
			span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 5px;

        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(135deg);
          bottom: 2px;
        }
      }
		}
	}

	&__nav {
		background: white;
		position: fixed;
		z-index: 500;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding-right: 0;
		padding-top: 65px;
		display: none;

		@include mq(ipad) {
			top: 115px; // height of .header
			padding-right: 5%;
			padding-top: 0;
		}

		.has-open-nav & {
			display: block;

			@include mq(tablet) {
				width: 45vw;
				left: 55vw;
			}

			@include mq(desktop) {
				width: 35vw;
				left: 65vw;
			}

			@include mq(container-max) {
				width: 30vw;
				left: 70vw;
			}
		}

		ul {
			padding: 0;
			margin: 0 0 20px;
			width: 100%;
		}

		li {
			list-style-type: none;
			margin-bottom: 5px;

			a {
				display: inline-block;
				width: 100%;
				font-size: 22px;
				line-height: 39px;
				color: $secondary-color;
				font-family: $sans-serif-semibold;
				transition: transform .25s ease;

				&:hover,
				&:focus {
					color: lighten($secondary-color, 20%);

					@include mq(ipad) {
						transform: translateX(5px);
					}
				}
			}
		}

		#{$self}__container {
			width: 100%;
			padding: 0 5%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;

			@include mq(tablet) {
				padding: 20px 5vw 20px 30px;
			}

			@include mq(ipad) {
				padding: 20px 0 20px 30px;
			}
		}

		a.btn {
			width: 100%;
			font-weight: 700;
			font-family: $sans-serif-bold;
			color: white;
			line-height: 27px;
		}
	}
}