.header {
	&__container {
		position: relative;
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 40px 20px;
		align-items: center;
	}

	&__tagline {
		font-weight: 600;
		font-size: 18px;
		font-family: $sans-serif-semibold;
		text-transform: uppercase;
		color: $primary-color;
	}

	&__logo {
		width: 264px;
		margin: 0 auto;	
		position: absolute;
		left: 0;
		right: 0;

		img {
			width: 264px;
		}
	} 

	&__right-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__page-marker {
		position: relative;
		text-transform: lowercase;
		color: $tertiary-color;
		font-family: $sans-serif-semibold;
		margin-top: 5px;
		font-size: 18px;

		&::before {
			width: 61px;
			height: 4px;
			position: absolute;
			top: -8px;
			content: '';
			background: $tertiary-color;
		}
	}

	&__menu {
		margin-left: 60px;

		span {
			position: relative;
      display: block;
      width: 26px;
      height: 2px;
      background: $gray-1;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
		}
	}
}