.hero {
  $self: &;

	background-size: cover;
	background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 0;

  h1,
  p {
  	color: $text-color-light;
  	max-width: 100%;
  }

  h1 {
  	width: 240px;
  	margin-bottom: 10px;
    text-transform: lowercase;
  }

  p {
  	width: 360px;
  	font-size: 24px;
  	line-height: 28px;
  	font-family: $sans-serif-semibold;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  &--home {
  	background-image: url('../img/banners/hero-home.png');

    #{$self}__icon {
      display: block;
      position: absolute;
      z-index: 20;
      left: 440px;
      bottom: -250px;

      @include mq(desktop, 'max-width') {
        width: 310px;
        bottom: -200px;
      }

      @include mq(desktop-narrow, 'max-width') {
        display: none;
      }
    }
  }

  &--shopper-journey {
    background-image: url('../img/banners/hero-home.png');

    #{$self}__icon {
      display: block;
      position: absolute;
      z-index: 20;
      left: 440px;
      bottom: -250px;

      @include mq(desktop, 'max-width') {
        width: 310px;
        bottom: -200px;
      }

      @include mq(desktop-narrow, 'max-width') {
        display: none;
      }
    }
  }
}