.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	position: relative;

	&--wide {
		max-width: $container-wide-max-width;
	}
}

section {
	padding: $section-padding 0;
}