.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	position: relative;

	&--wide {
		max-width: $container-wide-max-width;
	}
}

section {
	padding: $section-padding 0;
}

.grid {
	display: flex;
	justify-content: space-between;

	.col {
		&--one-half {
			width: 48%;

			@include mq(tablet, 'max-width') {
				width: 100%;
			}
		}
	}
}