p.intro {
	&--home {
		width: 565px;
		max-width: 100%;
		margin-top: 25px;

		@include mq(desktop, 'max-width') {
			margin-top: 10px;
		}

		@include mq(desktop-narrow, 'max-width') {
			width: 100%;
			margin-top: 0;
		}
	}
}

.intro-wrap {
	&--home {
		@include mq(desktop, 'max-width') {
			margin-bottom: -$section-padding;
		}

		@include mq(desktop-narrow, 'max-width') {
			margin-bottom: -$section-padding * 2;
		}
	}
}

.grid--home-image-block {
	img {
		cursor: pointer;
		padding: 10px;
		background: transparent;
		transition: background .15s ease;

		&:hover {
      background: #d0cadd;
		}
	}
}

.fact-block {
	margin-top: 40px;

	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__fact {
		position: relative;
    width: 16.66%;
    min-height: 100px;
    padding: 0 35px;
    line-height: 26px;
    text-align: center;
    color: $gray-2;
    font-family: $sans-serif-semibold;
    cursor: pointer;

    p {
    	font-size: 18px;
      line-height: 22px;
    }

    span {
    	font-weight: 900;
    	font-family: $sans-serif-black;
    	color: darken($gray-2, 9%);
    }

    &.is-active-fact-block,
    &:hover {
    	color: white;

    	span {
    		color: white;
    	}

    	&::before {
    		animation: fade-in-1 .25s ease;
    		position: absolute;
    		z-index: -1;
    		color: $primary-color;
    		opacity: 1;
    		left: 0;
    		right: 0;
    		top: 50px;
    		font-size: 190px;
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f041";
		  }
    }

    @include mq(desktop, 'max-width') {
	    width: 33.33%;
	    padding: 0 10%;
	    margin-bottom: 80px;

	    &:last-child,
	    &:nth-last-child(2),
	    &:nth-last-child(3) {
	    	margin-bottom: 0;
	    }
    }

    @include mq(desktop-narrow, 'max-width') {
	    width: 33.33%;
	    padding: 0 8%;
    }

    @include mq(tablet, 'max-width') {
	    width: 50%;
	    padding: 0 15%;	    
    	line-height: 23px;
	    margin-bottom: 90px;

	    &:last-child,
	    &:nth-last-child(2) {
	    	margin-bottom: 0;
	    }
    }

    @include mq(mobile-landscape, 'max-width') {
    	margin-bottom: 65px;
    	padding: 0 10%;
    }

    span {
    	display: block;
    }

    .fa-arrow-up {
      font-size: 13px;
      margin-left: 5px;
      position: relative;
      top: -2px;
    }

    .fa-map-marker {
    	position: absolute;
    	height: 120%;
    	width: 100%;
    	color: $primary-color;
    }
	}
}
